header, footer {
    text-align: center;
}

.hide {
    display: none;
}

#audioplayer {
    text-align: center;
}

#container {
    max-width: 450px;
    margin: 0 auto;
}

.logo {
    max-width: 300px;
    max-height: 300px;
    padding-top: 30px;
    margin-bottom: 5px;
}

#v {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

#player {
    text-align: center;
    min-width: 100%;
    width: 100%;
    display: none;
}

#zen-video-title #demo {
    margin-top: 5px;
    font-weight: bold;
    word-wrap: break-word;
}

#zen-video-description {
    white-space: pre;
}

/* Media controls */
#pause {
    display: none;
}

.slider-handle {
    background-color: black;
    background-image: none;
}
