header, footer {
    text-align: center;
}

.hide {
    display: none;
}

#audioplayer {
    text-align: center;
    display: none;
}

#container {
    max-width: 450px;
    margin: 0 auto;
}

.logo {
    max-width: 300px;
    max-height: 300px;
    padding-top: 30px;
    margin-bottom: 5px;
}

#v {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

#player {
    text-align: center;
    min-width: 100%;
    width: 100%;
}
#zen-video-title #demo {
    margin-top: 5px;
    font-weight: bold;
    word-wrap: break-word;
}
#zen-video-error {
    text-align: center;
}
#demo {
    display: block;
    margin: 0 auto;
}

#zen-video-description {
    white-space: pre-line;
}

#form {
    margin-bottom: 20px;
}
/* Media controls */
#pause {
    display: none;
}

.slider-handle {
    background-color: #000000;
    background-image: none;
}

#search-results {
    text-align: center;
    display: none;
}

#search-results li {
    list-style-type: none;
}

#timeSeekSliderControl {
    width: 350px;
}

#totalTime {
    padding-left: 10px;
}

#currentTime {
    padding-right: 10px;
}
