@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  padding:50px;
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  font-weight:300;
}

#hero {
    margin: 0 auto;
    padding-top: 50px;
    text-align: center;
}

#query {
    text-align: center;
    min-width: 200px;
    width: 200px;
}