body {
    background-color: black;
    color: white;
    font-family: 'Open Sans',sans-serif;
}
#themeselector1 {
    position: fixed;
    left: 0;
    top:300px;
    color: black;
}
#themeselector2 {
    position: fixed;
    left: 0;
    top:330px;
    color: black;
}
h2 {
    color: #dcdada;
}
.mybtn {
    border: none;
    padding: 10px;
    color: #000;
    background-image: none;
    background-color: white;
}
#shadow{
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}
#shadow:hover {
    box-shadow: 6px 13px rgba(255, 255, 255, 0.4);
}