body {
    background: linear-gradient(to left,#185a9d,#43cea2);
    font-family: 'Open Sans',sans-serif;
}
#themeselector1 {
    position: fixed;
    left: 0;
    top:300px;
}
#themeselector2 {
    position: fixed;
    left: 0;
    top:330px;
}
header, footer {
    color: white;
}

footer {
    border-top: none;
}

.mybtn {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
	overflow: hidden;
	color: white;
    border: none;
	border-radius: 2px;
    background: linear-gradient(to left, #F77593 50%, #1b92f9 50%);
	background-size: 200% 100%;
	background-position:right bottom;
	-webkit-transition:all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
}
.mybtn:hover {
    background-position: left bottom;
}
.myinput {
    font-family: 'Montserrat', sans-serif;
	padding: 10px 20px;
	font-size: 20px;
	background: white;
	border: none;
	border-radius: 5px;
	color: #2980b9;
	text-align: center;
	min-width: 350px;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: teal;
}
.icon {
    color: teal;
}
#container a {
    color: white;
}
.btn
{
    background-image: none;
    background-color: white;
}