header, footer {
    text-align: center;
}

.hide {
    display: none;
}

#audioplayer {
    text-align: center;
}

#container {
    max-width: 450px;
    margin: 0 auto;
}

.logo {
    max-width: 300px;
    max-height: 300px;
    padding-top: 30px;
    margin-bottom: 5px;
}

#v {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

#v::-ms-clear {
    display: none;
}

#player {
    text-align: center;
    min-width: 100%;
    width: 100%;
}
#zen-video-title #demo {
    margin-top: 5px;
    font-weight: bold;
    word-wrap: break-word;
}
#zen-video-error {
    text-align: center;
}
#demo {
    display: block;
    margin: 0 auto;
}

#zen-video-description {
    white-space: pre-line;
}

#form {
    margin-bottom: 20px;
}
/* Media controls */
#pause {
    display: none;
}

.slider-handle {
    background-color: #000000;
    background-image: none;
}

#volumeSliderControl .slider-handle.custom::before {
    /* Unicode bar */
    content: "\258C";
    color: #000000;
}

#timeSeekSliderControl {
    width: 350px;
}

#search-results {
    text-align: center;
    display: none;
}

#search-results li {
    list-style-type: none;
}

/* Input field fixes and search suggestion style.
 * typeahead conflicts with primercss */
.twitter-typeahead {
    display: inline;
    width: 100%;
}

.twitter-typeahead input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.tt-menu {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
}

.tt-suggestion {
    text-align: center;
}

.tt-cursor, .tt-suggestion:hover {
    background-color: #efefef;
}

.plyr__video-wrapper {
    display: none;
}
